.container{
    background-color: hex(#ffffff);
    text-shadow: hex(#FFFFFF);
    text-align: justify;
    font-size: 14em;

    padding: 10px;
    margin: 5px;
}

.details{
    background-color: hex(#FFC219);
    color: hex(#CFCFCF);
    text-shadow: hex(#FFFFFF);
    text-align: justify;
}
