
<main>
    <div>
        <div>
            <h2 id="title">About CMAST</h2>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi maxime vitae magnam accusantium reiciendis,
               recusandae, similique consequatur iste corrupti temporibus ipsum nam natus expedita dignissimos laborum nemo sunt. In, ab!
               Lorem ipsum dolor sit, amet consectetur adipisicing elit.
               Amet earum magnam rem quibusdam nesciunt ipsa quos vero non reprehenderit quia nisi sapiente, 
               ipsam quaerat rerum, minima voluptas minus mollitia ratione.
            </p>
        </div>
    </div>
</main>